Body{
	background-color: #ccf3ff
}

h1{
	color:blue;
	text-align:center;
}

h2{
	color:grey;
	text-align: center;
}

img{
	width:100%;
	border-radius:8px;
}
p{
	text-align: center;
	float:none;
	color:#084dbd;
	font-family:monospace;
	font-size: 15px;
}
/*Create two equal columns that sits next to each other */

.column{
  width:33%;
  padding:5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.column img{
   height:375px;
 }

.column img:hover{
	box-shadow: 0 10px 15px 15px rgba(0,0,255,0.5);
	transform: scale(1.15);

}

.center{
	display:flex;
	justify-content:center;
	align-items:center;
}

a:hover{
	border:5px #000000
}
